<div class="row">
    <div class="col">
        <img src="{{data.imageurl}}" width="200px" height="200px" style="border-radius: 50%;">
    </div>
</div>
<form id="change-image">
    <div class="row col-md-6">
    <div class="form-group">
        <input type="file" class="form-control" name="avtar" id="avtar">
    </div>
    <div class="form-group">
        <input type="submit" value="change image" class="btn btn-success">
    </div>
    </div>
</form>