/* <===================START OF RIDE PAGE CSS===================> */

*{font-family: 'Roboto', sans-serif;}

/* ride time class */

.ride-time {
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
}

/* ride address class */

.ride-address{
    font-weight: 500;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    padding-left: 5px;
}

/* modal height width */

.modal-full {
    min-width: 80%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

/* driver image */

.driver-image{
    border: 1px solid black; 
    border-radius: 50%;
    width: 50px;
    height:50px;

}

/* driver ride status */

.ride-status {
    font-size: 16px;
    top: 0;
    font-weight: 700;
}

/* <===================END OF RIDE PAGE CSS===================> */






